@{
    ViewBag.Title = "Contact";
}
@model List<LCTest.Models.Order>
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    @foreach (var m in Model)
    {
        <header>
            <h3>@m.Id</h3>
        </header>
        <p>
            <span class="label">Main:</span>
            <span>425.555.0100</span>
        </p>
    }
</section>